textarea {
width:100%;
box-sizing:border-box;border:none;
background: #d6ffff;
padding: 1em;
margin:0;
}

#cancel{
	background-color: silver;
}

.itemLine{
	background:linear-gradient(transparent 70%, #FF0000 0%);
}

.calender-saturday a.ui-state-default{
	background-color: #c1e0ff;
}
