textarea {
width:100%;
box-sizing:border-box;border:none;
background: #d6ffff;
padding: 1em;
margin:0;
}

#cancel{
	background-color: silver;
}

.itemLine{
	background:linear-gradient(transparent 60%, #00bfff 60%);
	border-radius: 80% 50% 60% 5%/80% 75% 15% 75%;
}

.calender-saturday a.ui-state-default{
	background-color: #c1e0ff;
}
