textarea {
width:100%;
box-sizing:border-box;border:none;
background: #d6ffff;
padding: 1em;
margin:0;
}

#cancel{
	background-color: silver;
}

.sunday .ui-state-default {
	color: red;
}

.saturday .ui-state-default {
	color: blue;
}

.holiday .ui-state-default {
	color: red;
}
